#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "BPQ Virtual Serial Device Driver"
#define VER_INTERNALNAME_STR        "BPQVirtualCOM.sys"
#define VER_ORIGINALFILENAME_STR    "BPQVirtualCOM.sys"
#define VER_LEGALCOPYRIGHT_STR "\251 John Wiseman G8BPQ 2005."

#include "common.ver"

#include "BPQVCOMmsgs.rc"

//
// Version
//

