CONFIG DIALOGEX FIXED IMPURE  249, 200, 109, 118
STYLE DS_MODALFRAME | DS_3DLOOK | WS_CAPTION | WS_POPUP
CLASS "CONFIG"
CAPTION "Configuration"
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_DLGMODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "Text",                 1001, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 5, 43, 14, WS_EX_CLIENTEDGE | WS_EX_NOPARENTNOTIFY
	CONTROL "Text",                 1002, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 25, 43, 14, WS_EX_CLIENTEDGE | WS_EX_NOPARENTNOTIFY
	CONTROL "Text",                 1003, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 45, 43, 14, WS_EX_CLIENTEDGE | WS_EX_NOPARENTNOTIFY
	CONTROL "TCP Port",             1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 5, 21, 18, WS_EX_NOPARENTNOTIFY
	CONTROL "Listening Sessions",   2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 25, 30, 20, WS_EX_NOPARENTNOTIFY
	CONTROL "Appl Mask",            3, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 45, 32, 15, WS_EX_NOPARENTNOTIFY
	CONTROL "Cancel",               1009, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 95, 35, 14, WS_EX_NOPARENTNOTIFY
	CONTROL "Save",                 1008, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 95, 35, 14, WS_EX_NOPARENTNOTIFY
	CONTROL "Loop TXed Raw Frames", 1004, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 65, 97, 10, WS_EX_RIGHT
	CONTROL "Loop TXed Mon Frames", 1005, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 80, 97, 10, WS_EX_RIGHT
END

